
<!-- Default inline 1-->
                        <!-- Filtros que se muestran -->
              
 <div id="FiltroDiv"> 
  
     <h2>Filtros</h2>    
     <hr> 
    <div id="Grupos">
        <!-- <h5>Marcas</h5> -->
        <hr>
        <!-- (change)="$event.target.checked ? agregar(filtroD.nombre) : quitar(filtroD.nombre)"  -->

<!-- <div *ngIf="filtroGrupo.titulo === 'Marcas'"> -->
        <div class="custom-control custom-checkbox" *ngFor="let filtroD of filtro" >
            <input type="checkbox" (change)="buscarProductoByFiltroChecked(filtroD.nombre)" class="custom-control-input col-md-1" id="i_{{filtroD.id}}" >
                <label class="custom-control-label" for="i_{{filtroD.id}}">{{filtroD.nombre}}</label> 

        </div>
    <!-- </div> -->
        <hr>

        <!-- <h5>Color</h5>
        <hr>
        <div class="custom-control custom-checkbox" *ngFor="let filtroD of filtro" >
            <input type="checkbox" class="custom-control-input col-md-1" id="defaultInline2">
                <label class="custom-control-label" for="defaultInline2">{{filtroD.nombre}}</label> 

        </div>
        <hr>

        <h5>Componentes</h5>
        <hr>
        <div class="custom-control custom-checkbox" *ngFor="let filtroD of filtro" >
            <input type="checkbox" class="custom-control-input col-md-1" id="defaultInline3">
                <label class="custom-control-label" for="defaultInline3">{{filtroD.nombre}}</label> 

        </div>
        <hr> -->


    </div>
</div> 


<!------------------------------------------ Template de filtros  -------------------------------------------->
