
<!-- <div class='container main-container'>
    <br>
    <br>
    <h1 class="animated fadeIn fast">Productos </h1>
    <hr /> -->

  <!-- ion-button (click)="getSubCategorias()"
  [routerLink]="['/producto', categoria.catPrincipal]" -->
  
  <!-- <app-categoria>    
  
  </app-categoria> -->
  
  <!-- <ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;" *ngFor="let categoria of categorias ">
    <button type="button" class="btn btn-light" ion-button (click)="productosService.getPrByCat(categoria.catPrincipal)" >{{categoria.catPrincipal}}</button>
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" >
      <a class="dropdown-item" ion-button (click)="getFiltrosBySubC(categoria.subCategorias)" href="#">{{categoria.subCategorias}}</a>
      <li class="dropdown-divider"></li>
      <a class="dropdown-item" href="#">Separated link</a>
    </ul>
  </ul>  -->
  
  <!-- <app-filtros > -->
    
    <!-- (propagar)="procesaPropagar($event)" -->
  
  <!-- </app-filtros> -->
  
  <!-- <div *ngFor="let categoria of categorias">
    <button ion-button (click)="goTo()">{{categoria.catPrincipal}}</button>
  </div> -->
  
                        <!--  -->
                        <!-- Cards with the images  -->
                        <!-- col-md-10 col-md-offset--20  -->
                
<!-- Categorias -->

    <div class="card-columns animated fadeIn fast" >
     
      <div class="card " *ngFor="let producto of categoria; let i = index" >
        
        <img [src]="producto.img" class="card-img-top" alt="..." />
        <div class="card-body">
          
          <h5 class="card-title">{{producto.nombre}}</h5>
          <h5 class="card-subtitle">{{producto.precio}}</h5>
          <p class="card-text">
            {{producto.descripcion}}
          </p>
          <button type="button" [routerLink]="['/producto', producto.id]" class="btn btn-block btn-outline-primary">Ver más...</button>
        </div>
      </div>
    </div>

<!-- Filtros -->

    <div class="card-columns animated fadeIn fast" *ngIf="isChecked">
     
      <div class="card " *ngFor="let producto of filtroP; let i = index" >
        
        <img [src]="producto.img" class="card-img-top" alt="..." />
        <div class="card-body">
          
          <h5 class="card-title">{{producto.nombre}}</h5>
          <h5 class="card-subtitle">{{producto.precio}}</h5>
          <p class="card-text">
            {{producto.descripcion}}
          </p>
          <button type="button" [routerLink]="['/producto', producto.id]" class="btn btn-block btn-outline-primary">Ver más...</button>
        </div>
      </div>
    </div>
  
       
    <!-- </div> -->
     
  
