<!-- Services section -->
<section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">Servicios a tu disposición</h2>
        <p class="text-center text-muted h5">Somos una empresa de tecnología desde hace 20 años comprometidos con la buena calidad de nuestros productos.</p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Soporte técnico</h3>
                        <p class="card-text">Reparamos e instalamos programas, resolvemos consultas técnicas.</p>
                        <a href="javascript:void();" title="Read more" class="read-more" >Más información...<i class="fa fa-angle-double-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Services section -->
