<br>
<br>
<header class="animated fadeIn">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
       <div class="carousel-item active" style="background-image: url('assets/img/CarouselImages/PortadaFaceTamañoPc.png')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
          <p class="lead">....</p>
        </div>
      </div> 
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/img/CarouselImages/BrotherT510w.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
          <p class="lead">....</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/img/CarouselImages/CelularHD.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
          <p class="lead">....</p>
        </div>
      </div>


    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>

  </div>
</header>
<!-- Page Content -->

<div class='container main-container'>
 
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Bienvenido a SCN Innovación y Tecnología</h1>
 </div>
 <br>
 <br>
 <h3 class="fab fa-gripfire">Productos destacados</h3>
 <br>
 <br>
 
 <div class="containerI">
  <div class="row">
      <div class="col-sm-4">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-white">
                  <div class="card-body">
                    
                      <img class="img-fluid" src='assets/img/Impresoras/ImpresoraBrotherT510.jpg' alt="">
                    <br>
                    <hr>
                      <h3>U$S 279</h3>
                      <hr>
                      <h3 class="card-title">Impresora Brother T510 Tinta contínua</h3>
                  
                      <p class="card-text">Impresora - Copiadora - Scanner - Wifi. Con papel fotográfico de regalo!</p>
            
                    </div>
              </div>
              <div class="card-back bg-light">
                  <div class="card-body">
                      <h3 class="card-title tb">Más información</h3>
                      <hr>
                      <p class="card-text tb">Velocidad 27/10 ppm negro/color, pantalla LCD. Incluye juego de botellas más botella negra adicional!</p>
                      <hr>
                      <a href="#" class="btn btn-outline-info">Ver producto</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-white">
                  <div class="card-body">
                    
                      <img class="img-fluid" src='assets/img/Impresoras/HP415.jpg' alt=""> 
                      <br>
                      <hr>
                        <h3>U$S 245</h3>
                        
                        <hr>
                      
                      <h3 class="card-title">Impresora HP 415</h3>
                      <p class="card-text">Con sistema de tinta contínua, impresora, copiadora y scanner. Trae mochila de regalo!!</p>
                  </div>
              </div>

              <div class="card-back bg-light">
                  <div class="card-body">
                    
                      <h3 class="card-title tb">Más información</h3>
                      <hr>
                      <p class="card-text tb">Velocidad 8/5 ppm negro/color. Rendimiento cartucho negro 6.000, páginas colores 8.000 copias - USB.</p>
                      <hr>
                      <a href="#" class="btn btn-outline-info">Ver producto</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-white">
                  <div class="card-body">
                      
                      <img class="img-fluid" src='assets/img/Computadoras/NotebookDell.jpg' alt="">
                      <br>
                      <hr>
                        <h3>U$S 259</h3>
                        <hr>
                      <h3 class="card-title">Notebook Dell E3340 REF</h3>
                      <p class="card-text">Pantalla 13.3" pulgadas, Windows 10 académico.</p>
                  </div>
              </div>
              <div class="card-back bg-light">
                  <div class="card-body">
                      <h3 class="card-title tb">Más información</h3>
                      <hr>
                      <p class="card-text tb">Procesador Intel I3 4ta generación, 4GB DDR3 - 500GB Almacenamiento - Peso 1.75g - 1 AÑO DE GARANTÍA.</p>
                      <hr>
                      <a href="#" class="btn btn-outline-info">Ver producto</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4 my-3">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-white">
                  <div class="card-body">
                   
                      <img class="img-fluid" src='assets/img/Computadoras/NotebookLenovoIdea.jpg' alt="">
                      <br>
                      <hr>
                        <h3>U$S 399</h3>
                        <hr>
                      <h3 class="card-title">Notebook Lenovo IDEA S145-15IGM</h3>
                      <p class="card-text">Pantalla 15.6" pulgadas - Windows 10 - USB 3.0 - WIFI - HDMI - Bluetooth - Garantía 1 año. MOCHILA LENOVO DE REGALO!</p>
                  </div>
              </div>
              <div class="card-back bg-light">
                  <div class="card-body">
                      <h3 class="card-title tb">Más información</h3>
                      <hr>
                      <p class="card-text tb">Procesador INTEL N4000 - 4GB - Disco sólido 128GB. </p>
                      <hr>
                      <a href="#" class="btn btn-outline-info">Ver producto</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4 my-3">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-white">
                  <div class="card-body">
                      
                      <img class="img-fluid" src='assets/img/Celulares/HuaweiWatch.jpg' alt="">
                      <br>
                      <hr>
                        <h3>U$S </h3>
                        <hr>
                      <h3 class="card-title">Huawei Watch GT 2</h3>
                      
                      <p class="card-text">41.8 x 41.8 x 9.4 mm
                        Rango de cobertura de la muñeca 13 ~ 20 cm (Edición Sport) 13 ~ 19 cm (Edición Clássica / Elegante).</p>
                  </div>
              </div>
              <div class="card-back bg-light">
                  <div class="card-body">
                      <h3 class="card-title tb">Más información</h3>
                      <hr>
                      <p class="card-text tb">Aproximadamente 29 g (sin correa), 1.2 pulgadas AMOLED 390 x 390 HD, La pantalla touch de AMOLED supports slide and touch gestures.</p>
                      <hr>
                      <a href="#" class="btn btn-outline-info">Ver producto</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4 my-3">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-white">
                  <div class="card-body">
                      
                      <img class="img-fluid" src='assets/img/Monitores/AOC.jpg' alt="">
                      <br>
                      <hr>
                        <h3>U$S 689</h3>
                        <hr>
                      <h3 class="card-title">Aoc Smart TV</h3>
                      <p class="card-text">Modelo LE50U6285.</p>
                  </div>
              </div>
              <div class="card-back bg-light">
                  <div class="card-body">
                      <h3 class="card-title tb">Más información</h3>
                      <hr>
                      <p class="card-text tb">Resolución 4K - 50" Pulgadas - 3 puertos HDMI y 2 puertos USB.</p>
                      <hr>
                      <a href="#" class="btn btn-outline-info">Ver producto</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 
</section>

</div>