<br>
<br>
<header class="animated fadeIn">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('assets/img/xbox.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">1</h2>
          <p class="lead">....</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/img/SCNFront.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">2</h2>
          <p class="lead">....</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/img/television.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">3</h2>
          <p class="lead">....</p>
        </div>
      </div>


    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>

  </div>
</header>
<!-- Page Content -->

<div class='container main-container'>
 
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Bienvenido a SCN Innovación y Tecnología</h1>
 </div>
 <br>
 <br>
 <h3 class="fab fa-gripfire">Productos destacados</h3>
 <br>
 <br>
 
 <div class="containerI">
  <div class="row">
      <div class="col-sm-4">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-light">
                  <div class="card-body">
                    
                      <img class="img-fluid" src='assets/img/television.jpg' alt="">
                      <h3 class="card-title">IPhone</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                 
                    </div>
              </div>
              <div class="card-back bg-white">
                  <div class="card-body">
                      <h3 class="card-title">Back</h3>
                      <p class="card-text">Suprise this one has more more more more content on the back!</p>
                      <a href="#" class="btn btn-outline-secondary">Action</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-light">
                  <div class="card-body">
                    
                      <img class="img-fluid" src='assets/img/xbox.jpg' alt="">  
                      <h3 class="card-title">Front</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
              </div>
              <div class="card-back bg-dark text-white">
                  <div class="card-body">
                    
                      <h3 class="card-title">Back #2</h3>
                      <p class="card-text">Suprise this one has content on the back!</p>
                      <a href="#" class="btn btn-outline-secondary">Action</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-light">
                  <div class="card-body">
                      
                      <img class="img-fluid" src='assets/img/ps4.png' alt="">
                      <h3 class="card-title">PS4</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content. This one is a little because it has more text!</p>
                  </div>
              </div>
              <div class="card-back bg-white">
                  <div class="card-body text-primary">
                      <h3 class="card-title">Wow! #3</h3>
                      <p class="card-text">Suprise this one has content on the back!</p>
                      <a href="#" class="btn btn-outline-primary">Action</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4 my-3">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-light">
                  <div class="card-body">
                   
                      <img class="img-fluid" src='assets/img/Xiaomi.jpg' alt="">
                      <h3 class="card-title">Front</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
              </div>
              <div class="card-back bg-white">
                  <div class="card-body">
                      <h3 class="card-title">Back</h3>
                      <p class="card-text">Suprise this one has more more more more content on the back!</p>
                      <a href="#" class="btn btn-outline-secondary">Action</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4 my-3">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-light">
                  <div class="card-body">
                      
                      <img class="img-fluid" src='assets/img/Xiaomi.jpg' alt="">
                      <h3 class="card-title">Front</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
              </div>
              <div class="card-back bg-white">
                  <div class="card-body">
                      <h3 class="card-title">Back</h3>
                      <p class="card-text">Suprise this one has more more more more content on the back!</p>
                      <a href="#" class="btn btn-outline-secondary">Action</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-4 my-3">
          <div class="card card-flip h-100">
              <div class="card-front text-black bg-light">
                  <div class="card-body">
                      
                      <img class="img-fluid" src='assets/img/Xiaomi.jpg' alt="">
                      <h3 class="card-title">Front</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  </div>
              </div>
              <div class="card-back bg-white">
                  <div class="card-body">
                      <h3 class="card-title">Back</h3>
                      <p class="card-text">Suprise this one has more more more more content on the back!</p>
                      <a href="#" class="btn btn-outline-secondary">Action</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 
</section>

</div>