
  <div class='container main-container'>
  <br>
  <br>
  <h1 class="animated fadeIn fast">Productos</h1>
  <hr />


<!-- Categorias generales -->

<!-- <ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;" *ngFor="let categoria of categorias | cat:categorias.categoria" (click)="gotoDetail(categorias)">
  <button type="button" class="btn btn-light" *ngFor="let categoria of categorias "  >{{categoria.catPrincipal}}</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" (change)="selectedCategory = $event.target.value">
    <a class="dropdown-item " *ngFor="let categoria of categorias " href="#">{{categoria.subCategorias}}</a> 
    <a class="dropdown-item" href="#">B</a>
    <a class="dropdown-item" href="#">C</a>
    <li class="dropdown-divider"></li>
    <a class="dropdown-item" href="#">Separated link</a>
  </ul>
</ul> -->

<!--  -->
<!-- <ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;" *ngFor="let categoria of categorias" >
  <button type="button" class="btn btn-light" *ngIf="categoria.catPrincipal == categoria.catPrincipal" (click)="getPrByCat($event, categoria.catPrincipal)">{{categoria.catPrincipal}}</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item " href="#">A</a>  
    <a class="dropdown-item" href="#">B</a>
    <a class="dropdown-item" href="#">C</a>
    <li class="dropdown-divider"></li>
    <a class="dropdown-item" href="#">Separated link</a>
  </ul>
</ul>


<ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;">
  <button type="button" class="btn btn-light" (click)="click()">Computadoras</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <li class="dropdown-divider"></li>
    <a class="dropdown-item" href="#">Separated link</a>
  </ul>
</ul>


<ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;">
  <button type="button" class="btn btn-light">Celulares</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <li class="dropdown-divider"></li>
    <a class="dropdown-item" href="#">Separated link</a>
  </ul>
</ul>

<ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;">
  <button type="button" class="btn btn-light">Componentes</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <li class="dropdown-divider"></li>
    <a class="dropdown-item" href="#">Separated link</a>
  </ul>
</ul>
-->
<!-- ion-button (click)="getSubCategorias()"
[routerLink]="['/producto', categoria.catPrincipal]" -->


<ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;" *ngFor="let categoria of categorias ">
  <button type="button" class="btn btn-light"  ion-button (click)="getPrByCat(categoria.catPrincipal)">{{categoria.catPrincipal}}</button>
  <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" >
    <a class="dropdown-item" ion-button (click)="getFiltrosBySubC(categoria.subCategorias)" href="#">{{categoria.subCategorias}}</a>
    <li class="dropdown-divider"></li>
    <a class="dropdown-item" href="#">Separated link</a>
  </ul>
</ul> 

<app-filtros></app-filtros>

<!-- <div *ngFor="let categoria of categorias">
  <button ion-button (click)="goTo()">{{categoria.catPrincipal}}</button>
</div> -->

                      <!--  -->

                      <!-- Cards with the images  -->
                      <!-- col-md-10 col-md-offset--20  -->
  <div class="card-columns animated fadeIn fast col-md-12">
    <div class="card " *ngFor="let producto of productos; let i = index" >
      <img [src]="producto.img" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <h5 class="card-subtitle">{{producto.precio}}</h5>
        <p class="card-text">
          {{producto.descripcion}}
        </p>
        <button type="button" [routerLink]="['/producto', producto.id]" class="btn btn-block btn-outline-primary">Ver más...</button>
      </div>
    </div>
   </div>
     
  </div>
   
