 
                           <!-- Categorias que se muestran  -->

               <!-- Regresar a categorias -->

        <div class="col text-right" *ngIf="!flag">
          <button routerLink="/productos" class="btn btn-success ">
            <i class="fa fa-arrow-left"></i>
            Categorías
          </button>
        </div>
                            
  <div class="row">
    
                              
    <div class="col-2" >             
                       
       
      <!-- <div class="dropdown" *ngFor="let categoria of categorias ">
            <button class="dropbtn dropright btn-block" (click)="buscarProducto(categoria.catPrincipal)"  >{{categoria.catPrincipal}}</button> 
                                
            <div class="dropdown-content" > 
         Llamado de filtros por subcategoria -->
              <!-- <a (click)="buscarFiltroBySubC(SC.nombre)"  *ngFor="let SC of subCategorias">{{SC.nombre}}</a>  -->
            <!-- </div> -->
        <!-- </div>  -->

     



    <div *ngIf="flag">
      <div class="btn-group dropright btn-block" *ngFor="let categoria of categorias">
          <button id="btnCat" type="button" class="btnCat btn" (click)="buscarProducto(categoria.catPrincipal)" (click)="buscarFiltroByCat(categoria.nombre)"  >
            {{categoria.catPrincipal}}
          </button>
          <button type="button" class="btnCat btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu" >
            <a class="dropdown-item"  (click)="toggle()" (click)="buscarFiltroBySubC(subcat)" (click)="buscarProductoBySubC(subcat)" *ngFor="let subcat of categoria.subCategorias">{{subcat}}</a>
          </div>
      </div> 
    </div>

    <!-- <div class="btn-group dropright" *ngFor="let categoria of categorias">
      <button type="button" class="btn btn-secondary" (click)="buscarProducto(categoria.catPrincipal)" (click)="buscarFiltroByCat(categoria.nombre)">
        {{categoria.catPrincipal}}
      </button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropright</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item"  (click)="toggle()" (click)="buscarFiltroBySubC(sc.nombre)" (click)="buscarProductoBySubC(sc.nombre)" *ngFor="let sc of subCategorias" >{{sc.nombre}}</a>
      </div>
    </div> -->

        <!-- Prueba de boton cat -->
        
       <!-- <div class="dropdown" *ngIf="!flag" >
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categorías
        </button>
        <div class="dropdown-menu" >
          
          <button class="dropbtn dropright btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="buscarProducto(categoria.catPrincipal)" (click)="buscarFiltroByCat(categoria.nombre)" *ngFor="let categoria of categorias">{{categoria.catPrincipal}}</button> 
        
          <div class="dropdown-menu" > 
      
            <a class="dropdown-item" (click)="buscarFiltroBySubC(sc.nombre)" (click)="buscarProductoBySubC(sc.nombre)" *ngFor="let sc of subCategorias">{{sc.nombre}}</a>   
        </div> 
         
        </div>
      </div>  -->

      <app-filtros [filtro]="filtroDatos" *ngIf="!flag" > </app-filtros>
        

  </div>

 <!-- Muestra el componente de productos por categoria -->

  <div class="col-10">
    <app-pro-by-cat-view [categoria]="categoriaDatos" [filtroP]="productFiltro"></app-pro-by-cat-view>
  </div>

 
  <!-- <div class="col-md-2" >
    <app-filtros [filtro]="filtroDatos" *ngIf="!flag" > </app-filtros>
   </div> -->
  
</div>



                  
