<ul class="btn-group col-md-4" style="position: relative; display: block; float:left; width:30.3%;" *ngFor="let categoria of categorias ">
    <button type="button" class="btn btn-light" ion-button (click)="productosService.getPrByCat(categoria.catPrincipal)" >{{categoria.catPrincipal}}</button>
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" >
      <a class="dropdown-item"  ion-button (click)="filtroService.getFiltrosBySubC(categoria.subCategorias)" href="#">{{categoria.subCategorias}}</a>
      <li class="dropdown-divider"></li>
      <a class="dropdown-item" href="#">Separated link</a>
    </ul>
  </ul> 

