                    
                        <!-- Alta CATEGORIAS Y FILTROS DE LAS MISMAS -->

<br>
<br>
<div class="container main-container">
  <div class="row ">
    <div class="col"><h2>Alta de categoria</h2></div>
    <div class="col text-right">
      <button routerLink="/admin/listado-categorias" class="btn btn-danger ">
        <i class="fa fa-arrow-left"></i>
        Regresar
      </button>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col">
      <form (ngSubmit)="altaCategoria(f)" #f="ngForm">
        <div class="form-group">
          <label>Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            [(ngModel)]="categoria.id"
            disabled
          />
          <small class="form-text text-muted">Campo autogenerado</small>
        </div>

        <div class="form-group col">
            <label>Nombre</label>
            <select
              class="form-control"
              name="nombre"
              [(ngModel)]="categoria.nombre"
              id=""
            >
              <option *ngFor="let categoria of categorias" [value]="categoria.id">{{
                categoria.nombre
              }}</option>
            </select>
          </div>


        <div class="form-group col-md-4 mb-3">
          <label>Categoría principal</label>
          <input
            type="string"
            name="catP"
            [(ngModel)]="categoria.catPrincipal"
            class="form-control"
            required
          />
        </div>

        <div class="form-group col-md-4 mb-3" >
          <label>Subcategorías</label>
          <input
            type="text"
            class="form-control"
            name="id"
            [(ngModel)]="categoria.subCategorias"
            required
            
          />
          <button class="btn badge-info">+</button>
          
        </div>

        <!-- <div class="row">
                <div class="form-group col">
                        <label>Marca</label>
                        <select
                          class="form-control"
                          name="marca"
                          [(ngModel)]="producto.marca"
                          id=""
                        >
                          <option *ngFor="let marca of marcas" [value]="marca.id">{{
                            marca.nombre
                          }}</option>
                        </select>
                      </div>
                <div class="col">
                        <div class="form-group">
                                <label>Categoria</label>
                                <select
                                  class="form-control"
                                  name="categoria"
                                  [(ngModel)]="producto.categoria"
                                  id=""
                                >
                                  <option
                                    *ngFor="let categoria of categorias"
                                    [value]="categoria.id"
                                    >{{ categoria.nombre }}</option
                                  >
                                </select>
                              </div>
                </div>
              </div> -->

        

       

        <div class="col-md-4 mb-3 input-group">
          <label>Filtros</label>
          <input id="Filtro"
            id=""
            name="filtros"
            [(ngModel)]="categoria.filtros"
            class="form-control"
            required
          />
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" onclick="mostrarPassword()"> 
                <span class="fas fa-plus-square"></span>
            </button>
          </span>
          
        </div>

   
        <hr />
        <br />

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary w-50">
            <i class="fas fa-save"></i> Aceptar y guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

