  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(25, 25, 117);">
    <a class="navbar-brand" href="#">
        <img src="assets/img/marcas/logo.png" height="30" alt="">
      </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" style="font-family:Verdana, Geneva, Tahoma, sans-serif" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" style="font-family:Verdana, Geneva, Tahoma, sans-serif" [routerLink]="['productos']">Productos</a>
        </li>

        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" style="font-family:Verdana, Geneva, Tahoma, sans-serif" [routerLink]="['mailing']">Mailing</a>
        </li> 

        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" style="font-family:Verdana, Geneva, Tahoma, sans-serif" [routerLink]="['oferta']">Ofertas <img src="assets/img/FondosTexturas/venta24px.png"></a>
        </li> 

        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" style="font-family:Verdana, Geneva, Tahoma, sans-serif" [routerLink]="['servicios']">Servicios</a>
        </li>
      
        
        

      </ul>

    
    <form class="form-inline my-2 my-lg-0">
      
      <input class="form-control mr-sm-2" type="buscar" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
    </form>

  

      <ul class="navbar-nav ">
        <li class="nav-item" *ngIf="!isAutenticado()">
          <a class="nav-link" routerLink="/register">Registrar
          </a>
        </li>
        <li class="nav-item" *ngIf="isAutenticado()">
          <a class="nav-link" routerLink="/home">Perfil</a>
        </li>
        <li class="nav-item" *ngIf="!isAutenticado()">
          <a class="nav-link" routerLink="/login">Ingresar
          </a>
        </li>
        <li class="nav-item" *ngIf="isAutenticado()">
          <a href="#" class="nav-link" (click)="logout()">Salir
          </a>
        </li>
      </ul>

      
     
    </div>
  </nav>  
 
 